extends layout
block content

    div.container.content
        div.row
            div.col-md-6
                h2 The business
                p pragmatico was founded in 2014 by Tim Roberts and Sarah Hawksworth. Previously they both ran a web development business in Spain for 7 years before relocating back to the UK. Together they continue to plan and build software for businesses of all sizes in several countries across the globe.
                
                h2 The skills
                p We specialise in standards compliant web sites and applications built with HTML5, CSS and JavaScript. On back end we use CakePHP and MySQL or Node.js and MongoDb. We are commited to using the right tools for the job and not just jumping on a technology because it is in vogue.
                
                h2 The process
                p We use agile methodologies, including small iterations, git version control and unit testing to deliver software that is easy to maintain and extend.
            div.col-md-6
                h2 The people
                div.media
                    div.media-left.media-top
                        img(src='/img/tim.jpg' width='120' class='thumbnail')
                    div.media-body
                        p 
                          strong Tim Roberts <span class="label pull-right">Founder & Programmer</span>
                        p Tim has 15 years experience in software development. His specialities are CakePHP, Node.js and jQuery.
                        p.social 
                            a(href='http://www.twitter.com/timstermatic' target='_blank') <i class="fi-social-twitter"></i>
                            a(href='http://www.linkedin.com/in/timstermatic' target='_blank') <i class="fi-social-linkedin"></i>
                            a(href='skype:pragmati.co') <i class="fi-social-skype"></i>
                            a(href='https://plus.google.com/100304558618816885944/posts' target='_blank') <i class="fi-social-google-plus"></i>
                hr
                div.media
                    div.media-left.media-top
                        img(src='/img/sarah.jpg' width='120' class='thumbnail')
                    div.media-body
                       p 
                        strong Sarah Hawksworth <span class="label pull-right">Front End Developer</span>
                        p Sarah has worked in web development for 7 years. Her area of expertise is producing responsive web sites using HTML5 and CSS. 
                         p.social 
                            a(href='https://twitter.com/sarahhawksw_th' target="_blank") <i class="fi-social-twitter"></i>
                            a(href='skype:sarah.pragmati.co') <i class="fi-social-skype"></i>
                            a(href='https://plus.google.com/102600387481722818004/posts' target='_blank') <i class="fi-social-google-plus"></i>
