extends layout

block content
  section#introduction
    div.container.content
        h2 pragmatico: web, mobile and desktop software development.
        p We are a small, capable web development agency based in the South West of England.<br>Agile development processes and robust technologies help us to deliver top-notch software to clients across the globe.
  
  section#work
   

    ul.bxslider
        li.aston
            div.caption
                    h3 Q by Aston Martin
                    p Parallax website for the British manufacturer of luxury sports cars and grand tourers.
                    p 
                        a(href='http://q.astonmartin.com') q.astonmartin.com 
        li.cd
            div.caption
                    h3 Charles Darwin Trust
                    p The Charles Darwin Trust uses the intellectual and cultural heritage of Darwin, through his approach to science and his work at Down House and in the immediate countryside, to inspire a deeper understanding of the natural world.
                    p 
                        a(href='http://www.charlesdarwintrust.org/') www.charlesdarwintrust.org
        li.milhill
            div.caption
                    h3 Mill Hill Place
                    p Website for 38 Beautifully designed apartments, set within a gated community in the mature, leafy landscape of Hammers Lane.
                    p 
                        a(href='http://www.millhillplace.com') www.millhillplace.com
        li.blade
            div.caption
                    h3 Blade Corporate Services
                    p Website for the corporate arm of the Blade Group.
        li.neo
            div.caption
                    h3 Neo Bankside
                    p Website for an innovative, multi award winning and iconic residential development located next to Tate Modern.
                    p 
                        a(href='http://www.neobankside.com') www.neobankside.com
        
        
            
            
          
        

  
  
 