extends layout
block content
    div.row
        div.col-md-6.full.content
         div.contact
             h2 Thank you
             p Your message was sent to us. We'll get back to you as soon as possible.
             br
             h2 more ways to contact us
             address <i class="fi-telephone"></i> 0117 318 2104
             address <i class="fi-mail"></i> info@pragmati.co.uk
             address <i class="fi-social-skype"></i> pragmati.co         
        div.col-md-6.full
         div#map 
        
  
    
