extends layout
block content
  section#introduction
    div.container.content
        h2 Our Portfolio of Work.
        br
        div.row.work
            div.col-xs-12.col-sm-6.col-md-4
                a(class='thumbnail')
                    img(src='/img/ab.png')
                    p Q By Aston Martin
            div.col-xs-12.col-sm-6.col-md-4
                a(class='thumbnail')
                    img(src='/img/neoscreen.png')
                    p Neo Bankside
            div.col-xs-12.col-sm-6.col-md-4
                a(class='thumbnail')
                    img(src='/img/millhillscreen.png')
                    p Mill Hill Place
            div.col-xs-12.col-sm-6.col-md-4
                a(class='thumbnail')
                    img(src='/img/ppscreen.png')
                    p Principal Place
            div.col-xs-12.col-sm-6.col-md-4
                a(class='thumbnail')
                    img(src='/img/abscreen.png')
                    p AB Sound Success
            div.col-xs-12.col-sm-6.col-md-4
                a(class='thumbnail')
                    img(src='/img/rsnscreen.png')
                    p Royal School of Needlework
            div.col-xs-12.col-sm-6.col-md-4
                a(class='thumbnail')
                    img(src='/img/cdscreen.png')
                    p Charles Darwin Trust